# Editor
.vscode

# Logs
logs/
*.log

# Coverage
cov_profile/
cov_report/
*.lcov

# Certificates & keys
*.pem

# Environment variables & secrets
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Dependency cache
vendor/
