# Editor
.vscode

# Logs
logs/
*.log

# Coverage
cov_profile/
*.lcov

# Dependency cache
vendor/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
